<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular Challenge</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-app="app">
    <div ng-controller="UsersCtrl">
      <div class="searchField">
      search by name: 
        <input type="text" ng-model="search"/>
      </div>
      <div class="userCard" ng-repeat="user in users | filter : { name: search }">
      <user info="user"></user>
      </div>
    </div>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

